/*Remeber to link me in index page*/


html, body{ /*Addressed the gap in the player*/
  padding: 0;
  margin: 0;
  height: 100%;
}

#playingBarContainer{
  width: 100%;
  background-color: #282828;
  bottom: 0;
  position: fixed;
  min-width: 620px; /*Remove me later*/
}

#playingBar{
  display: flex;
  height: 90px;
  padding: 16px;
  box-sizing: border-box;
}

#nowPlayingLeftSide, #nowPlayingRightSide{
  width: 30%;
  min-width: 180px;
}

#nowPlayingCenterSide{
  width: 40%;
  max-width: 700px;
  display: flex;
  max-width: 700px;
  flex-direction: column;
  align-items: center;
}

#playingBar .content{
  width: 100%;
}

.playerControls .buttons{
  margin: 0 auto; /*Zero at the top and automatic at esquerda e direita*/
  display: table;
}

.buttons .controlButton{
  background-color: transparent;
  border: none;
  vertical-align: middle;
}
